O.*/
data/
db/
dbd/
*~
*.eml
*.iml
FE10B-CS-IOC-01App/Db/report.txt
FE10B-CS-IOC-01App/Db/FE10B-CS-IOC-01-VM.substitutions
FE10B-CS-IOC-01App/Db/FE10B-CS-IOC-01.substitutions
etc/FE10B.xml
etc/scanner.sh

